<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622839157204-ue0275h05b7lbfkad8hjfbb2esig6t4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622839157204-ue0275h05b7lbfkad8hjfbb2esig6t4u</string>
	<key>API_KEY</key>
	<string>AIzaSyBZjZDHhe6WWsT1T6wQdtPMCLTItqDa9Xo</string>
	<key>GCM_SENDER_ID</key>
	<string>622839157204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>esobol.Railway</string>
	<key>PROJECT_ID</key>
	<string>ticks-84f94</string>
	<key>STORAGE_BUCKET</key>
	<string>ticks-84f94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622839157204:ios:8ab2be95ef16ddea164641</string>
	<key>DATABASE_URL</key>
	<string>https://ticks-84f94.firebaseio.com</string>
</dict>
</plist>